__pycache__/
*.py[cod]
*$py.class
.eggs/
dist/
build/
develop-eggs/
parts/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
env/
ENV/
.DS_Store
ehthumbs.db
Thumbs.db
*.log
.idea/
*.swp
*.swo
*.iml
*.exe
*.dll
neuronest.db
4.0.0